*{
    box-sizing:border-box;
    font-family: sans-serif;
}
body{
    background-color:  #e6e6e6;
}
.clear{
 clear: both;   
}
.clear-left{
 clear: left;   
}
.clear-right{
 clear: right;   
}
.main{
    height:100px;
    background-image: url("images/header-bg.png");
    background-repeat: no-repeat;
    background-size: 800px 100px;
    border-radius:5px; 
    background-color:none; 
    }

.wrapper{
    width: 800px;
    border:0px solid red;
    margin:auto;
    border-radius:5px; 
    max-height: 900px;
    margin-top:50px;
    border:px solid red;
    margin-bottom: 0;
}
.firsst{
    height: 55px;
}

.sidenav{  
    font-size: 9px; 
    float: right;
    margin-right: 10px;
}
.sidenav ul{
    float: right;
    list-style-type: none; 
}
.sidenav li{
    float: left;
    background:url("images/nav-separator.png") no-repeat right;
    background-position: -1px -1px;
    color: black;
}
.sidenav li a{
    color: black;
    border:0px solid red; 
    text-decoration: none;
    display: inline-block;
    padding: 0px 4px 0px 4px;    
}
.sidenav a:hover{
  color:  #009999; 
}
.sidenav ul li:first-child{
  background:none;
}

.logo{
    float: left;
    width: 293px;
    height: 25px;
    margin: 17px 0px 14px 12px;
    background:url("winnipeg-logo.png") no-repeat cover; 
}
.logo img{
  width:100%;
}




.navbar{
    height: 32px;
}
.navbar ul {
    float: left;
    padding:0;
    margin:0; 
  list-style-type: none;
  height: 31px;
  overflow: hidden;

}

.navbar li {
    height: 100%;
  float: left;
  border-right:1px solid  #e6e6e6; 
}

.navbar li a {
  font-size: 10px;
  font-weight: 600;
  color: black;
  text-align: center;
  padding: 8px 9px 6px 9px;
  text-decoration: none;
  display: inline-block;
  text-decoration: none;

}

.navbar a:hover{
  color:  #00b3b3; 
}
.navbar ul li:first-child{
padding-left:5px;
}
.navbar ul li:last-child{
  border-right:none;  
}


.middlespace{
    height:10px;
    background-color: #e6e6e6; 
}
.third{
  border-radius: 4px;
    border:px solid green;
        background-color:white; 

}

.second{
    border:0px solid green;
    background-image:url("images/home-banner.jpg");
    background-repeat: no-repeat; 
    background-size: cover;
    border-radius: 5px;
    background-color:white; 
    margin-bottom: -20px;
}
.second img{
  width:100%;
}

.forth{
    float: left;
    width:565px;
    border:px solid orange;
    margin-bottom: 10px;
    }
.fifth{
    float: right;
    margin-top: 0;
    width: 230px;
    border:px solid red; 
}
.upper{
    margin: 10px 0px 5px 10px;
    border:px solid purple; 
}
.upper h3{
  font-size: 18px;
  font-weight: 300;
  margin:0px ;
  border:0px solid red;
}
.upper span{
  color:cyan;
}

.lower{
    margin: 5px 0px 0px 10px;
    border:px solid purple; 
}
.leftone{
  margin: 1px;
    float: left;
    width: 49%;
    border:px solid orange; 
}
.leftone h3{
  font-size: 14px;
  font-weight: 500;
  border:px solid red;
  margin:0;
  color:cyan;
}


.rightone{  
    margin: 1px;
    float: right;
    width: 49%;
    border:px solid green; 
}
.rightone h3{
  font-size: 14px;
  font-weight: 500;
  margin:0;
  border:0px solid red;
  color:cyan;
}

.headingbottom{
    height: 1px;
    background-image: url("images/heading-bottom-bg.png");
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-size: cover; 
    margin-top:3px ;
    border:0px solid orange; 
}

.headingbottom1{
    height: .5px;
    background-image: url("images/heading-bottom-bg.png");
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-size: cover; 
    margin-top:3px ;
    border:0px solid orange;  
}

.sample{
    float: left;
    width: 170px;
    margin:5px 0px 0 1px; 
    border:0px solid orange; 
}
.sample img{
  width:100%;
  height:100%;
}

.textbox{
    padding:0px 0px 0 1px; 
    width: 380px;
    float: right;
    border:0px solid red;  
}
.textbox p{
  font-size:9px;
}

.canadaphoto{
    margin:10px 2px 10px 2px;
    padding: 0;
    border:0px solid orange; 
}
.canadaphoto img{
  width:100%;
  height:100%;
  margin:0;
}
.canadatextbox{
    max-width: 100%;
    margin:0;
    border:px solid green; 
}
.canadatextbox p{
  font-size:9px;
  margin:0;
  padding:0;
  border:px solid red; 
}

.manitobaphoto{
    margin:10px 2px 10px 2px;
    padding: 0;
    border:0px solid orange; 
}
.manitobaphoto img{
  width:100%;
  height:100;
}
.manitobatextbox{
    max-width: 100%;
    margin:0;
    border:px solid green; 
}
.manitobatextbox p{
  font-size:9px;
  margin:0;
  padding:0;
}
.headingbottom2{
    height: .5px;
    background-image: url("images/heading-bottom-bg.png");
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-size: cover; 
    margin-top:3px ;
    border:0px solid orange;  
}

.contactus{
    margin-left: 5px;
    margin-top:20px; 
    width:215px;
    height:auto;
    border:2px solid cyan; 
}

.footer{
  width: 800px;
  border:px solid orange; 
  margin:auto;
  margin-top: -3px;
  margin-bottom:80px
}

.contentbottom{
  width: 800px;
  height: 26px;
  background-color: #e6e6e6;
  border:px solid blue; 
  background-image:url("images/content-bottom-bg.png");
  background-size: 800px 26px;
  background-repeat: no-repeat; 
}

.lastnav{
  display: flex;
  justify-content: center;
  border:px solid red;
  padding: 0; 
}
.lastnav ul {
  margin-top: 18px;
  margin-bottom: 35px;
  padding: 0;
  display: block;
  text-align: top;
  line-height: 10px;
  list-style-type: none;
  border:px solid orange; 
}

.lastnav li {
  padding: 0;
  float: left;
  border:px solid black; 
  background:url("images/nav-separator.png") no-repeat left;
  background-size:2px 12px; 
}

.lastnav li a {
  font-size: 9px;
  padding: 0px 6px 0px 8px;
  color:  #666666;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
.lastnav a:hover{
  color:  #009999; 
}
.lastnav ul li:first-child{
  padding-left:0;
  background:none;
}

.button {
  box-sizing: border-box;
  background-color:#34c3eb;
  border: none;
  font-weight:600; 
  margin:8px 0 0 1px;
  width:85px;
  height: 20px;
  color: white;
  text-align: left;
  text-decoration: none;
  font-size: 9px;
  cursor: pointer;
  border-radius: 3px;
  padding-left:4px;
}


.copyright{
  max-width: 100%;
  font-size: 8px;
  text-align: left;
  padding-left: 20px;  
  color:  #666666;
}
.copyright span{
font-size: 9px;
}